.sidebar {
    min-height: 100vh;
    background-color: white;

    .top {
        height: 50px;

        .logo {
            display: block;
            text-align: center;
            line-height: 2.2;
            font-size: 1.3rem;
            font-weight: bold;
            color: #1c0081;

            .icon {
                position: relative;
                top: 4px;
            }
        }
    }

    hr {
        height: 0;
        margin: 0;
        border: none;
        border-bottom: 0.5px solid rgb(231, 228, 228);
    }

    .center {
        padding: 0 10px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            .listItem {
                margin-bottom: 1rem;
            }

            .title {
                font-size: 1rem;
                font-weight: bold;
                color: #616161;
                margin-top: 1rem;
                margin-bottom: 0.5rem;

                &.users {
                    color: rgb(1, 1, 86);
                }
            }

            li {
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #ece8ff;
                }

                .icon {
                    font-size: 18px;
                    color: #7451f8;
                }

                span {
                    font-size: 0.95rem;
                    font-weight: 600;
                    color: #888;
                    margin-left: 10px;
                }
            }
        }
    }
}