.home {
    display: block;

    .borderRight {
        border-right: 0.5px solid rgb(230, 227, 227)
    }

    .d-flex {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .homeContainer {
        .right {
            flex: 1;
            max-width: 100%;
        }
    }


    .pageContent {
        padding: 30px;
        overflow: hidden;

        .topContainer {
            .left {
                flex-basis: 20%;
                border-right: 1.5px solid #e6e3e3;
                border-bottom: 1.5px solid #e6e3e3;
                max-width: 200px;
                min-width: 170px;

                .sidebar {
                    border: none;
                }
            }

            .right {
                flex-basis: 80%;

                .chartsContainer {
                    margin: 0 auto;
                    flex: 1;

                    &:first-child {
                        margin-right: 1.5rem;
                    }
                }
            }
        }

        .bottomContainer {
            display: block;
            width: 100%;
            margin-top: 2rem;

            .chartsContainer {
                margin: 0 auto;
            }
        }
    }
}