.chartsContainer {
    border-radius: 5px;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 15px 0px 10px;

    .title {
        text-align: left;
        color: gray;        
        margin-bottom: 1rem;
        padding:0 0 1rem 1.4rem;
        font-weight: 500;
    }
}